{% include 'AppBundle:Default:header.html.twig' %}
<style>
    #moncompte{
        width: 1000px;
        margin: auto;
        margin-top: 20px;
    }

</style>

<body>

{% javascripts
'@AppBundle/Resources/public/js/jquery.js'
'@AppBundle/Resources/public/js/bootstrap.min.js'
'@AppBundle/Resources/public/js/jquery.inview.min.js'
'@AppBundle/Resources/public/js/wow.min.js'
'@AppBundle/Resources/public/js/mousescroll.js'
'@AppBundle/Resources/public/js/smoothscroll.js'
'@AppBundle/Resources/public/js/jquery.countTo.js'
'@AppBundle/Resources/public/js/lightbox.min.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts
'../vendor/components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
'../vendor/components/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% include 'AppBundle:Default:menu.html.twig' %}


<div id="moncompte">
    {% if is_granted('ROLE_USER') %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Vous devez être déconnecté pour s'inscrire
        </div>
    {% else %}
        <center>
            <iframe id="iframeRegister" style="width: 650px;border:none" src="registerb"></iframe>
        </center>
    {% endif %}

</div>


<script>
    $("#iframeRegister").on('load', function () {
        var element_iframe = $('#iframeRegister').contents().height();
        $("#iframeRegister").height(element_iframe);
    });
</script>

</body>
</html>